ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DOCKER_COMPOSE_ENV=dev

DATABASE_DB=inventory
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432

DJANGO_LOG_LEVEL=WARNING
APPS_LOG_LEVEL=INFO
DJANGO_SUPERUSER_PASSWORD=1234